body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.main-page {
  width: 100%;
  background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
}
.main-page-text-container {
  border-radius: 40px;
  background: white;
  padding-left: 60px;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}
.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
}
.main-page-hello-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: black;
  margin-top: 0;
  margin-bottom: 60px;
}
.main-page-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 112%;
  color: black;
  margin-top: 0;
  margin-bottom: 24px;
}
.main-page-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: black;
  margin-top: 0;
  margin-bottom: 32px;
}
.main-page-btn {
  border-radius: 10px;
  padding: 12px 24px;
  width: 172px;
  height: 48px;
  background: orange;
  color: white;
  border: 0;
  cursor: pointer;
 
}
.logo {
  margin-top: 54px;
  padding-left: 150px;
}
