body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.main-page {
  width: 100%;
  background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
}
.main-page-text-container {
  border-radius: 40px;
  background: white;
  padding-left: 60px;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}
.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  position: relative;
}
.main-page-hello-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: black;
  margin-top: 0;
  margin-bottom: 60px;
}
.main-page-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 112%;
  color: black;
  margin-top: 0;
  margin-bottom: 24px;
}
.main-page-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: black;
  margin-top: 0;
  margin-bottom: 32px;
}
.main-page-btn {
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
  width: 172px;
  height: 48px;
  background: orange;
  color: white;
  border: none;
  cursor: pointer;
}
.logo {
  position: absolute;
  top: 32px;

  left: 0px;
}
.facts-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: black;
  margin-bottom: 32px;
  margin-top: 0;
}
.facts {
  padding-top: 48px;
  padding-bottom: 100px;
  text-align: center;
}
.trezub1 {
  margin-bottom: 24px;
}
.facts-descr {
  width: 772px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: black;
  margin: auto;
  margin-top: 0;
  margin-bottom: 24px;
}
.facts-1-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: black;
  margin-bottom: 32px;
  margin-top: 0;
}
.facts-1-descr {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: black;
}
.facts-1 {
  width: calc((100% / 3) - (24px * 2) / 3);
}
.trezub2 {
  margin-bottom: 32px;
}
.form-title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: black;
}

.form-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border-radius: 10px;
  padding: 12px 24px;
  margin-top: 40px;
  box-sizing: border-box;
  background: orange;
  color: white;
  border: none;
  cursor: pointer;
}
.form-cotainer {
  width: 100%;
  background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background: white;
  border-radius: 40px;
  padding-top: 32px;
  padding-left: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  text-align: center;
}
.form-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-top: 0px;
  margin-bottom: 24px;
}
.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  fill: white;
  stroke-width: 1px;
  stroke: blue;
}
.form-field-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-bottom: 8px;
}
.form-field-name {
  margin-bottom: 24px;
}
.form-input {
border-radius: 8px;
border: 1px solid blue;
 font-weight: 400;
 font-size: 16px;
 line-height: 150%;
 color: black;
 padding: 12px 24px;
 box-sizing: border-box;
 width: 100%;
}
.form-field-email {
  margin-bottom: 48px;
}
.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}