<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Бандерогусь</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <section class="main-page">
      <div class="wrapper">
        <img src="img/logo black.svg" class="logo" alt="Бандерогусь" />
        <div class="main-page-text-container">
          <p class="main-page-hello-text">Доброго вечора, ми з України</p>

          <h1 class="main-page-title">Бандерогусь</h1>
          <p class="main-page-descr">
            Спеціальний бойовий гусак із біолабораторій України. Пишаюся своїми
            подвигами, бороню Батьківщину та підтримую позитивний дух народу.
            Слава Україні!
          </p>

          <button class="main-page-btn">Запустити гуся</button>
        </div>

        <img src="img/gus.svg" alt="Бандерогусь" />
      </div>
    </section>
    <section class="facts">
      <img src="img/trezub.svg" alt="bang" class="trezub1" />
      <h2 class="facts-title">Цікаві факти про бандерогусей</h2>
      <p class="facts-descr">
        Зазвичай бандерогуси — виключно мирні птахи. Але у разі небезпеки можуть
        атакувати ворога системою надпотужного озброєння. Також нищать
        психологічно, активуючи високочастотне шипіння та розмахування крилами
      </p>
      <div class="wrapper">
        <div class="facts-1">
          <img src="img/gus1.svg" alt="gus1" />
          <h3 class="facts-1-title">Система навігації</h3>
          <p class="facts-1-descr">
            Супутниковий GPS та ехолокатори розпізнають ворожу техніку навіть на
            етапі збірки
          </p>
        </div>

        <div class="facts-1">
          <img src="img/gus2.svg" alt="gus2" />
          <h3 class="facts-1-title">Очі-тепловізори</h3>
          <p class="facts-1-descr">
            Допомагають виявити характер сигнатури об’єктів та значно підвищують
            точність удару
          </p>
        </div>

        <div class="facts-1">
          <img src="img/gus3.svg" alt="gus3" />
          <h3 class="facts-1-title">Байракрила</h3>
          <p class="facts-1-descr">
            Можуть нести 2-4 керовані ракети, що вражають ціль на відстані
            «ніхріна собі» кілометрів
          </p>
        </div>
      </div>
    </section>
    <section class="main-page">
      <div class="wrapper">
        <div class="form-page-text-container">
          <img src="img/trezub.svg" alt="bang" class="trezub1" />
          <h2 class="form-title">Поділися, будь ласка, поштою</h2>
          <p class="form-title">та запиши гуся до бандерозагону</p>
          <p class="form-name">Ім'я</p>
          <svg
            width="453"
            height="60"
            viewBox="0 0 453 60"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path style="margin-top: 12px;"
              d="M0.5 8C0.5 3.85786 3.85786 0.5 8 0.5H445C449.142 0.5 452.5 3.85786 452.5 8V52C452.5 56.1421 449.142 59.5 445 59.5H7.99999C3.85786 
        59.5 0.5 56.1421 0.5 52V8Z"
              fill="#F5F5F5"
              stroke="#005BBB"
            />
          </svg>
          <p class="form-name">Email</p>
          <svg
            width="453"
            height="60"
            viewBox="0 0 453 60"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path style="margin-top: 12px;"
              d="M0.5 8C0.5 3.85786 3.85786 0.5 8 0.5H445C449.142 0.5 452.5 3.85786 452.5 8V52C452.5 56.1421 449.142 59.5 445 
              59.5H7.99999C3.85786 59.5 0.5 56.1421 0.5 52V8Z"
              fill="#F5F5F5"
              stroke="#005BBB"
            />
          </svg>
          <button class="form-page-btn" onclick="alert('хочу літати')">Запустити гуся</button>
        </div>
      </div>
    </section>
  </body>
</html>
