<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Бандерогусь</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <section class="main-page">
      <img src="img/logo black.svg" class="logo" alt="Бандерогусь">
      <div class="wrapper">
    <div class="main-page-text-container">

   
    <p class="main-page-hello-text">Доброго вечора, ми з України</p>

    <h1 class="main-page-title">Бандерогусь</h1>
    <p class="main-page-descr">
      Спеціальний бойовий гусак із біолабораторій України. Пишаюся своїми
      подвигами, бороню Батьківщину та підтримую позитивний дух народу. Слава
      Україні!
    </p>

    <button class="main-page-btn">Запустити гуся</button>
   </div>

    <img src="img/gus.svg" alt="Бандерогусь">
  </div>
  </section>
  </body>
</html>
