.button {
  background-color: chocolate;
  color: bisque;
  padding: 10px;
  border-radius: 10px;
  height: 50px;
  width: 150px;
}
.button:hover {
  background-color: crimson;
}
.primary {
  composes: button;
  background-color: black;
}
.primary:hover {
  background-color: cadetblue;
}
